@font-face {
    font-family: SourceCodePro;
    src: url(fonts/SourceCodePro-Regular.ttf);
}


html {
    font-family: SourceCodePro;
    font-size: calc(0.50em + 1.10vw);
    color: #7F7F7F;
}

body {
    background-color: #000000;
    background-size: cover;

    background-image:url('images/black.jpg'), url('images/photos.jpg'), url('images/desktop.jpg'), url('images/vscode.png'), url('images/learn.jpg');
}

/* h2 { */
    /* font-family: SourceCodePro; */
    /* font-size: 20px; */
    /* color: #ffffff; */
/* } */
.blog_text {
    color: #ffffff;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.title {
    color: #ffffff
}

.link:hover {
    color: #cccccc;
    background-color: #000000;
}

.sentence {
    /* width: 833px; */
    width: 40%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top_content {
    top: 5%;
    width: 40%;
    position: absolute;
    transform: translate(-50%, -5%);
    height: 30%;
    left: 50%;
}

.list_content {
    width: 40%;
    left: 50%;
    /* position: relative; */
    /* transform: translate(-50%, -5%); */
}

.list_title {
    color: #ffffff;
    font-size: 90%
}
.date {
    color: #7F7F7F;
    /* color: #ffffff; */
    font-size: 70%
}

.right {
    float: right;
}

.left {
    float: left;
}

.bottom-icon {

    /* width: 40%; */
    /* height: 30%; */
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    bottom: 1%;
    right: 1%;
}


#slideSource {
  opacity: 1;
  transition: opacity 1s; 
}

#slideSource.fade {
  opacity: 0;
}
