@font-face {
    font-family: SourceCodePro;
    src: url(fonts/SourceCodePro-Regular.ttf);
}


html {
    font-family: SourceCodePro;
    font-size: calc(0.50em + 1.10vw);
    color: #ffffff;
}

/* h2 { */
    /* font-family: SourceCodePro; */
    /* font-size: 20px; */
    /* color: #ffffff; */
/* } */

.link {
    color: #7F7F7F;
}

div {
    /* width: 833px; */
    width: 40%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


